@import "../../styles/variables";

.upcoming-events {
  background-color: $white;

  &__title {
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.1rem;
  }

  &__item {
    font-size: 0.9rem;
    color: $text-color;
    padding: 0.5rem;

    .event-title {
      font-weight: 500;
    }

    .event-datetime {
      font-size: 0.8rem;
      color: $secondary-color;
    }

    &:hover {
      background-color: $background-light;
      cursor: pointer;
    }
  }
}
