@use "../../styles/colors" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as mixins;

.mobileNav {
  display: none;

  @media (max-width: 767px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 56px;
    background-color: white;
    border-top: 1px solid $color-border;
    z-index: 999;
  }
}

.navIcon {
  color: $color-text;
  font-size: $font-size-xl;
  text-decoration: none;

  &.active {
    color: $color-primary;
  }
}

.active {
  color: $color-primary;
}

.createButton {
  width: 45px;
  height: 45px;
  background-color: $color-primary-hover;
  color: white;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    background-color: $color-primary-hover;
    transform: scale(1.05);
  }
}

.chatButtonNotification {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none;
}

