.modalDialog {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}
.modalContent {
  display: flex;
  flex-direction: column;
  height: 100%; // << výška na 100%
  border-radius: 12px;
  overflow: hidden;
}

.modalBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
}
