// styles/ChangePasswordForm.module.scss

.changePasswordForm {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  h5 {
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;

    .formGroup {
      text-align: left;
    }

    button {
      margin-top: 1rem;
      font-weight: 500;
      font-size: 1rem;
      padding: 0.6rem;
      border-radius: 0.6rem;
    }
  }
}
