// Farby
$primary-color: #1b2a4e;
$secondary-color: #6c757d;
$accent-blue: #286baf;
$accent-purple: #b336a4;
$highlight-green: #29b673;

$white: #ffffff;
$text-color: #212529;
$background-light: #f8f9fa;
$border-color: #dee2e6;

// Font
$font-stack: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// Layout
$border-radius: 0.5rem;
$container-padding: 20px;
