@use "./reset";
@use "./colors" as *;
@use "./variables" as *;
@use "./typography" as *;
@use "./mixins" as *;

body {
  font-family: $font-family-base;
  color: $color-text;
  background-color: $color-bg-light;
  margin: 0;
}
