
@use "./colors" as *;
@use "./typography" as *;

// SPACING SCALE
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;

// BORDERS
$card-radius: 1rem;
$card-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
