@use "../../styles/colors" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as mixins;

.chatPage {
  display: flex;
  flex-direction: column;
  height: 100%; // << miesto 80vh
  background-color: $color-bg-light;
  border-radius: 12px;
  overflow: hidden;
}

.header {
  position: relative;
  height: 60px; // výška hlavičky, môžeš prispôsobiť
  background-color: white;
  border-bottom: 1px solid $color-border;
  padding: 0 1rem;
  @media (max-width: 418px) {
    height: 90px;
  }
}

.leaveButton {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  @media (max-width: 418px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 15px));
  }
}

.roomTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: $font-size-md;
  white-space: nowrap;
  text-align: center;
  @media (max-width: 418px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 20px));
  }
}

.closeButton {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: $space-sm; // menej paddingu
  background-color: $color-bg-light;
}
.inputArea {
  padding: $space-sm;
  border-top: 1px solid $color-border;
  background-color: white;
}
.messageList {
}
