@use "../../styles/colors" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as mixins;

.eventDetails {
  max-height: 90vh;
  overflow-y: auto; // 游녣 LEN zvisl칳 scroll
  overflow-x: hidden; // 游녣 쬴adny horizont치lny scroll
  overflow: auto;
  min-width: 320px;
  max-width: 720px;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem; /* alebo in치 hodnota pod쬬 potreby */
  width: 100%;
  @media (max-width: 321px) {
    flex-flow: column;
    gap: 0rem;
  }
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  @media (max-width: 321px) {
    flex-direction: column;
    width: 250px;
    align-items: start;
    margin-bottom: 10px;
    div {
      margin: 0px !important;
    }
  }
}

.bottomContainer {
  @media (max-width: 321px) {
    width: 250px;
    flex-flow: column;
    gap: 0rem;
    div {
      flex-flow: column !important;
      gap: 0px;
      margin-top: 0px;
    }
  }
}

.header {
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  max-height: 200px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: bottom;
  flex-direction: column-reverse;
  border-radius: 2px;
  overflow: hidden; // 游녣 zabr치ni vytl치캜aniu
}

.mainImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  border-radius: 10px;
  cursor: pointer;
}

.title {
  color: black;
  font-size: 2rem; // tro코ku men코ie
  font-weight: bold;
  z-index: 2;

  padding: 1px 0px;
  max-width: 20rem;
  max-width: 90%;
}

.title:first-letter {
  text-transform: capitalize;
}

.organizatorName {
  font-weight: 600;
  font-size: $font-size-md;
}
.organizatorTag {
  font-weight: 600;
  font-size: 0.8rem;
  color: $color-text;
}

.details {
  font-size: $font-size-sm;
  line-height: 1.6;
  color: $color-text;
  margin-bottom: $space-md;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 1rem 0;
  justify-content: start;
  overflow: hidden;
}

.galleryImageWrapper {
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.galleryImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.5);
  }
}

.copyButton {
  background: none;
  border: none;
  font-size: $font-size-md;
  cursor: pointer;
  padding: $space-xs;
  border-radius: 50%;
  transition: background 0.2s;

  &:hover {
    background-color: $color-bg-light;
  }
}

.redItem {
  color: $color-danger; // Bootstrap "danger" 캜erven치, m칪쬰코 da콘 aj in칰
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: rgba(220, 53, 69, 0.1); // jemn칠 캜erven칠 pozadie pri hover
    color: $color-danger;
  }
}

