@use "../../styles/colors" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as mixins;

.profilePage {
  padding: $space-md;
}

.heading {
  color: $color-primary;
  margin-bottom: $space-md;
}

.info {
  font-size: $font-size-sm;

  p {
    margin-bottom: $space-sm;

    strong {
      color: $color-text;
    }
  }
}
