@use "../../styles/colors" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as mixins;

.upcomingEvents {
  background-color: $color-white;
}

.title {
  font-weight: bold;
  color: $color-primary;
  margin-bottom: 10px;
  text-align: center;
  font-size: $font-size-md;
}

.item {
  font-size: $font-size-sm;
  color: $color-text;
  padding: $space-sm;
  @include hover-light;
}

.eventTitle {
  font-weight: 500;
}

.eventDatetime {
  font-size: 0.8rem;
  color: $color-primary-light;
}
