.avatarWrapper {
  position: relative;
  display: inline-block;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;

  display: block;
  transition: box-shadow 0.2s ease-in-out;

  &.normal {
    width: 48px;
    height: 48px;
  }

  &.mini {
    width: 24px;
    height: 24px;
  }

  &:hover {
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.4);
  }
}
