@import "../styles/variables";

.main-layout {
  min-height: 100vh;
  padding: 20px;

  .left-panel,
  .center-panel,
  .right-panel {
    padding: 15px;
  }

  @media (max-width: 768px) {
    .left-panel,
    .center-panel,
    .right-panel {
      padding: 10px 0;
    }
  }
}
