@import "../styles/variables";
@import "../styles/mixins";

.mainLayout {
  min-height: 100vh;
  padding: 20px;
  max-width: 1600px;
  margin: 0 auto;
}

.centered {
  margin: 0 auto;
  float: none;
}

.leftPanel {
  @include panel-padding;
}

.centerPanel {
  @include panel-padding;
}

.rightPanel {
  @include panel-padding;
}
