@import "../../styles/variables";

.userMenu {
  // nastavujeme iba obal komponentu, ak treba
}

.dropdownToggle {
  border: none;
  background: transparent;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;

  &:focus {
    box-shadow: none;
  }
}

.dropdownMenu {
  min-width: 160px;
  font-size: 0.95rem;
}

.dropdown-item.text-danger {
  font-weight: 500;

  &:hover {
    background-color: #f8d7da;
    color: #a71d2a;
  }
}
