@use "../../styles/colors" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as mixins;

.chatPage {
  display: flex;
  flex-direction: column;
  height: 100%; // << miesto 80vh
  background-color: $color-bg-light;
  border-radius: 12px;
  overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-sm;
  background-color: white;
  border-bottom: 1px solid $color-border;
  z-index: 10;
}

.roomTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: $font-size-md;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: $space-sm; // menej paddingu
  background-color: $color-bg-light;
}
.inputArea {
  padding: $space-sm;
  border-top: 1px solid $color-border;
  background-color: white;
}
.messageList {
}
