@use "../../styles/colors" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as mixins;

// styles/ChangePasswordForm.module.scss

.changePasswordForm {
  background: $color-white;
  padding: $space-xl;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  text-align: center;

  h5 {
    font-weight: 600;
    margin-bottom: $space-lg;
  }

  form {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1rem;

    .formGroup {
      text-align: left;
    }

    button {
      margin-top: $space-md;
      font-weight: 500;
      font-size: $font-size-base;
      padding: 0.6rem;
      border-radius: 0.6rem;
    }
  }
}
