@import "../../styles/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background-color: white;
  border-bottom: 1px solid #dee2e6;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  // Mobilná verzia pre šírky *menšie ako 768px*
  @media (max-width: 767px) {
    height: 48px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  max-width: 1600px;
}

.logo {
  font-weight: bold;
  font-size: 1.1rem;
  color: $primary-color;
}

// Skryť pravý panel len na mobiloch
.right {
  @media (max-width: 767px) {
    display: none;
  }
}

// Desktop štýly od 768px a vyššie
@media (min-width: 767px) {
  .header {
    height: 56px;
  }

  .logo {
    font-size: 1.25rem;
  }
}

.minimal {
  border-bottom: none;
  box-shadow: none;
  justify-content: center;

  .content {
    justify-content: center;
  }

  .right {
    display: none;
  }
}
