@import "../../styles/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background-color: $white;
  border-bottom: 1px solid $border-color;
  z-index: 998;
  display: flex;
  align-items: center;

  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }

  .header__logo {
    font-weight: bold;
    font-size: 1.1rem;
    color: $primary-color;
  }

  @media (min-width: 768px) {
    height: 56px;

    .header__logo {
      font-size: 1.25rem;
    }
  }
}
