@import "../../styles/variables";

.recommendations {
  &__title {
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
