@use "../../styles/colors" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as mixins;

.card {
  border: 1px solid $color-border;
  border-radius: $card-radius;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 600;
  color: $color-primary;
}

.datetime {
  font-size: $font-size-xs;
  color: $color-primary-light;
}

.location {
  font-size: $font-size-sm;
  font-weight: 500;
  color: $color-primary;
  margin: 0.5rem 0;
}

.description {
  font-size: $font-size-sm;
  color: $color-text;
}

.button {
  margin-top: 10px;
}
