@use "../../styles/colors" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as mixins;

.chatWindow {
  background-color: $color-white;
}

.title {
  font-weight: bold;
  color: $color-primary;
  margin-bottom: 10px;
  text-align: center;
  font-size: $font-size-md;
}

.chat {
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid $color-border;
  @include mixins.hover-light;
}

.name {
  font-weight: 500;
  font-size: $font-size-sm;
  color: $color-text;
}

.message {
  font-size: $font-size-xs;
  color: $color-primary-light;
}

.time {
  text-align: right;
  font-size: $font-size-xs;
  margin-top: $space-xs;
}

