.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 80vh;
  overflow-y: auto;
  width: 100%;
}

.header {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
}

.userItem {
  padding: 0.5rem 0.75rem;
  background-color: #f9f9f9;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  cursor: pointer;
}

.name {
  font-weight: 500;
  font-size: 1rem;
}

.email {
  font-size: 0.85rem;
  color: #666;
}
