@use "../../styles/colors" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as mixins;

.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 80vh;
  overflow-y: auto;
  width: 100%;
}

.header {
  text-align: center;
  font-size: $font-size-lg;
  font-weight: 600;
  color: $color-text;
  margin-bottom: $space-md;
}

.userItem {
  padding: 0.5rem 0.75rem;
  background-color: $color-bg-light;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  cursor: pointer;
  width: 100%;
}

.name {
  font-weight: 500;
  font-size: $font-size-base;
}

.email {
  font-size: $font-size-xs;
  color: $color-text-muted;
}

