@use "../../styles/colors" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as mixins;

.avatarWrapper {
  position: relative;
  display: inline-block;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;

  display: block;
  transition: box-shadow 0.2s ease-in-out;

  &.normal {
    width: 48px;
    height: 48px;
  }

  &.mini {
    width: 24px;
    height: 24px;
  }
}
