@use "../../styles/colors" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as mixins;

.avatarList {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.extra {
  background-color: $color-bg-light;
  color: $color-text;
  font-size: 0.7rem;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid $color-border;

  &:hover {
    background-color: $color-border-muted;
  }
}

